* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;

	background-color: white;

	font-family: @primary-font;
	&.hide {
		overflow-y: hidden;
	}
}

::-webkit-scrollbar-track {
	background-color: @light-gray;
}
::-webkit-scrollbar-thumb {
	background-color: @primary;
}
@media (max-width: @sm) {
	::-webkit-scrollbar{
		width: 8px;
	}
}
@media (min-width: @md) {
	::-webkit-scrollbar{
		width: 12px;
	}
}
@media (min-width: @lg) {
	::-webkit-scrollbar{
		width: 16px;
	}
}